*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* custom variables */
:root {
    --primary-color: #031319;
    --secondary-color: #fefefe;
    --sm: 2em;
    --color1: #004aad;
    --color2: #ee0823;
    --color3: #23ad00;
    --color4: #009c95;
    --invert: 100%;
}

[data-theme="dark"] {
    --primary-color: #fefefe;
    --secondary-color: #031319;
    --color1: #004aad;
    --color2: #ee0823;
    --color3: #23ad00;
    --color4: #009c95;
    --invert: 0%;
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--secondary-color);
}

.logo {
    max-width: 48px;
    margin: auto;
}

.logo img {
    width: 48px;
    height: 48px;
    filter: invert(var(--invert));
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navigation li a {
    text-decoration: none;
    padding: 15px 12px;
    font-size: 20px;
    color: var(--primary-color);
}

.navigation li a:is(:hover, :foucs) {
    color: var(--color1);
}

.theme {
    max-width: 30px;
    width: auto;
    margin: auto;
    height: 30px;
}

#switch {
    background: none;
    height: inherit;
    cursor: pointer;
}

#switch img {
    width: 30px;
    filter: invert(var(--invert));
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rect img {
    max-width: 100%;
    width: auto;
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    padding: 14em 0;
}

.cir {
    padding: 10px;
    margin: 0 10px;
}

.cir img {
    width: 192px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.about h1 {
    font-size: var(--sm);
}

#work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-bottom: 5em;
}

#work > div {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

#work > div h3 {
    font-size: calc(var(--sm) / 1.5);
}

.blog,
.project,
.contact {
    width: 100%;
    height: 18em;
    overflow: hidden;
    border: 0.5px solid var(--primary-color);
}

.blog {
    background: url(section-image-1.jpg) no-repeat center center/cover;
}

.project {
    background: url(section-image-2.jpg) no-repeat center center/cover;
}

.contact {
    background: url(section-image-3.jpg) no-repeat center center/cover;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1.3em;
}

footer p {
    width: 20vw;
    margin: auto;
}

/* utility classes */
.btn {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: calc(var(--sm) / 2);
    font-weight: 500;
}

.danger-btn {
    background-color: var(--color2);
    color: var(--secondary-color);
}

.info-btn {
    background-color: var(--color1);
    color: var(--secondary-color);
}

.pro-btn {
    background-color: var(--color3);
    color: var(--secondary-color);
}

.my-btn {
    background-color: var(--color4);
    color: var(--secondary-color);
}